.divider {
    background-color: #6b7280; 
    height: 0.35rem; 
    width: 15rem; 
    border-radius: 10rem; 
    display: none; 
  }
  
  @media (min-width: 640px) {
    .divider {
      display: block; 
    }
  }
 
