.divider {
    background-color: #6b7280; /* bg-gray-500 */
    height: 0.25rem; /* h-16 */
    width: 10rem; /* w-1 */
    border-radius: 9999px; /* full */
    display: none; /* hidden */
  }
  
  @media (min-width: 640px) {
    .divider {
      display: block; /* sm:block */
    }
  }
 