/* about.module.css */
.section {
    margin-bottom: 7rem; /* mb-28 */
    max-width: 45rem;
    text-align: center;
    line-height: 1.6; /* leading-8 */
    scroll-margin-top: 28rem; /* scroll-mt-28 */
  }
  
  @media (min-width: 640px) {
    .section {
      margin-bottom: 10rem; /* sm:mb-40 */
    }
  }