.contact { 
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width:640px) {
    .contact {
      margin-top:-6rem;
    }
}

.form-container {
  position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    margin-top: 4rem;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .form-field {
    margin-bottom: 1rem;
  }

  .form {
    width: 18rem;
  }

  @media (min-width:640px) {
      .form {
        width: 35rem;
      }
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000000;
  }
  
  .input-field,
  .textarea-field {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #0c0c0c;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
  }
  
  .textarea-field {
    resize: vertical;
  }
  
  .error-message {
    color: #f44336;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  .input-error {
    border-color: #f44336;
  }
  
  .submit-button {
    background-color: #ffffff;
    color: rgb(19, 0, 0);
    border: 1px solid #000000;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #000000;
    border: 1px border solid;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .display-button {
    display: flex;
    justify-content: center;
  }

  .successMessage {
    position: absolute;
    margin-bottom: 0rem;
    bottom: 1rem;
    width: 330px;
    text-align: center;
    background-color: #d4edda;
    color: #155724;
    padding: 1em;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    animation: fadeInOut 3s forwards;
  }

  @media (min-width:640px) {
      .successMessage {
        position: absolute;
        margin-bottom: 0rem;
        bottom: 12rem;
        width: 600px;
        text-align: center;
        background-color: #d4edda;
        color: #155724;
        padding: 1em;
        border: 1px solid #c3e6cb;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 1;
        animation: fadeInOut 3s forwards;
      }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }