.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .motionDiv {
    position: fixed;
    top: 0;
    left: 50%;
    height: 3.5rem;
    margin-top: 13px;
    width: 16rem;
    border-radius: 5rem;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(0.5rem);
  }
  
  @media (min-width: 640px) {
    .motionDiv {
      top: 1.3rem;
      height: 3.25rem;
      margin-top: 0;
      width: 36rem;
      border-radius: 9999px;
    }
  }
  
  .nav {
    display: flex;
    position: fixed;
    top: 1rem;
    left: 50%;
    height: 3rem; 
    transform: translateX(-50%);
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
  }
  
  @media (min-width: 640px) {
    .nav {
      top: 1.7rem;
      height: initial;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  .ul {
    display: flex;
    width: 22rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.25rem; 
    font-size: 0.9rem;
    font-weight: 500;
    color: #6b7280; 
  }
  
  @media (min-width: 640px) {
    .ul {
      flex-wrap: nowrap;
      gap: 1.25rem; 
    }
  }
  
  .li {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .link {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: color 0.2s;
    cursor: pointer;
  }
  
  .link:hover {
    color: #1f2937; 
  }