.heading {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 500; /* font-medium */
    text-transform: capitalize; /* capitalize */
    margin-bottom: 2rem; /* mb-8 */
    text-align: center; /* text-center */
  }